# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\贵州测试\LocateTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
